* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
section {
  width: 100%;
  height: 100vh;
  background-image: url(./Images/image/bg.png);
  background-size: cover;
  background-position: center;
}
section nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* box-shadow: 0 0 10px #089da1; */
  background: #0065c3;
  position: fixed;
  left: 0;
  z-index: 100;
}
section nav .logo img {
  width: 100px;
  cursor: pointer;
  margin: 8px 0;
}

section nav ul {
  list-style: none;
}
section nav li {
  display: inline-block;
  padding: 0 10px;
}
section nav li a {
  text-decoration: none;
  color: #000;
}
section nav li a:hover {
  color: #fff;
}
section nav .social_icons i {
  margin: 0 5px;
  font-size: 18px;
}
section nav .social_icons i:hover {
  color: #fff;
  cursor: pointer;
}
section .main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 10%;
}
section .main h1 {
  position: relative;
  font-size: 55px;
  top: 80px;
  left: 45px;
}
section .main h1 span {
  color:  #0065c3;;
}
section .main p {
  width: 450px;
  text-align: justify;
  line-height: 22px;
  position: relative;
  top: 125px;
  left: 45px;
}
section .main .main_tag .main_btn {
  background:  #0065c3;;
  padding: 10px 20px;
  position: relative;
  top: 200px;
  left: 45px;
  color: #fff;
  text-decoration: none;
}
section .main .main_img img {
  width: 600px;
  position: relative;
  top: 90px;
  left: 20px;
}

/* Services */

.services {
  width: 100%;
  height: auto;
  margin: 35px 0px;
}

.services .services_box {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.services .services_box .services_card {
  text-align: center;
  width: 310px;
  height: auto;
  box-shadow: 0 0 8px #0065c3;
  padding: 15px 10px;
}
.services .services_box .services_card i {
  color: #0065c3;
  font-size: 45px;
  margin-bottom: 15px;
  cursor: pointer;
}
.services .services_box .services_card h3 {
  margin-bottom: 10px;
}

/* About */

.about {
  width: 100%;
  height: auto;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about .about_image img {
  width: 600px;
}
.about .about_tag h1 {
  font-size: 50px;
  position: relative;
  bottom: 35px;
  color: #0065c3;
}
.about .about_tag p {
  line-height: 22px;
  width: 450px;
  text-align: justify;
  margin-bottom: 15px;
}
.about .about_tag .about_btn {
  padding: 10px 20px;
  background: #0065c3;
  color: #fff;
  text-decoration: none;
  position: relative;
  top: 50px;
}


::-webkit-scrollbar{
    width: 7px;
    height: 5px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2) ;
}
::-webkit-scrollbar-thumb{
    background: #0065c3;
    border-radius: 10px;
}

/* Arrivals */

.arrival{
    width: 100%;
    height: 100vh;
    margin-bottom: 35px;
    padding-top: 40px;
}
.arrival h1{
    font-size: 50px;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 35px;
    color: #0065c3;
}
.arrival .arrivals_box {
    width: 95%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px 0 ;
}
.arrival .arrivals_box .arrivals_card {
    width: 250px;
    height: 340px;
    text-align: center;
    padding: 5px;
    border: 1px solid #919191;
    margin: auto 20px;
}
.arrival .arrivals_box .arrivals_card:hover{
    box-shadow: 0 0 5px #0065c3;
} 
.arrival .arrivals_box .arrivals_card .arrivals_image {
    width: 150px;
    height: 220px;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.arrival .arrivals_box .arrivals_card .arrivals_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}
.arrival .arrivals_box .arrivals_card:hover .arrivals_image img{
    transform: scale(1.1);
}
.arrival .arrivals_box .arrivals_card .arrivals_tag p{
    font-family: Queen of Camelot;
    font-weight: bolder;
    font-size: 24px;
    margin: 4px 0 ;
}
.arrival .arrivals_box .arrivals_card .arrivals_tag .arrivals_icons{
    color: #0065c3;
    margin-bottom: 18px;
}
.arrival .arrivals_box .arrivals_card .arrivals_tag .arrivals_btn{
    padding: 8px 20px;
    border: 2px solid #0065c3;
    text-decoration: none;
    color: #000;
}

/* Reviews */

.reviews{
    width: 100%;
    height: auto;
}
.reviews h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 600px;
    color: #0065c3;
    padding-top: 100px;
}
.reviews .review_box{
    width: 95%;
    height: 50vh;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviews .review_box .review_card{
    width: 400px;
    height: 340px;
    box-shadow: 0 0 8px #0065c3;
    padding: 15px;
    margin: 0 12px;
}
.reviews .review_box .review_card i{
    float: right;
    font-size: 120px;
    position: relative;
    bottom: 20px;
    color: #0065c3;
}
.reviews .review_box .review_card .card_top img{
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.reviews .review_box .review_card .card p{
    margin: 10px 0 10px 0;
    text-align: justify;
    line-height: 22px;
}
.reviews .review_box .review_card .review_icon i{
    font-size: 16px;
    float: left;
    margin-top: 20px;
    color: #0065c3;
    padding: 0 1px;
}
/* Banner */
.banner{
    width: 100%;
    height: 50vh;
    margin-top: 70px;
    background-image: url(./image/pepsibanner.jpg);
    background-size: cover;
    background-position: center;
}
.banner .banner_btn{
    padding: 8px 20px;
    background: #fff;
    text-decoration: none;
    color: #0065c3;
    position: relative;
    top: 85%;
    left: 85%;
}
/* Blog */

.blog{
  width: 100%;
  height: auto;
  margin: 25px 0;
  padding-top: 20px;
}
.blog h1{
  text-align: center;
  font-size: 55px;
  margin-top: 70px;
  margin-bottom: 30px;
  color: #0065c3;
}
.blog .blog_box{
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.blog .blog_box .blog_card{
  margin: 0 auto;
  width: 390px;
  height: auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.blog .blog_box .blog_card .blog_img{
  width: 390px;
  height: 300px;
  overflow: hidden;
}

.blog .blog_box .blog_card .blog_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.blog .blog_box .blog_card .blog_tag{
  padding: 20px;
}
.blog .blog_box .blog_card .blog_tag h2{
  color: #0065c3;
}
.blog .blog_box .blog_card .blog_tag p{
  margin-top: 10px;
  text-align: justify;
  line-height: 22px;
}
.blog .blog_box .blog_card .blog_tag .blog_icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0065c3;
  cursor: pointer;
}

/* footer */

.footer{
  width: 100%;
  background: #eaeaea;
}
.footer .footer_main{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.footer .footer_main .tag{
  margin: 10px 0;
}
.footer .footer_main .tag img{
  width: 100px;
  margin-bottom: 10px;
}
.footer .footer_main .tag p{
  width: 250px;
  line-height: 22px;
  text-align: justify;
}
.footer .footer_main .tag h1{
  font-size: 25px;
  margin: 25px 0;
  color: #000;
}
.footer .footer_main .tag a{
  display: block;
  color: #000;
  text-decoration: none;
  margin: 10px 0;
}
.footer .footer_main .tag i{
  margin-right: 10px;
}
.footer .footer_main .tag .social_link i{
  margin: 0 5px;
}
.footer .footer_main .tag .search_bar{
  width: 230px;
  height: 30px;
  background: rgba(202,202,202);
  border-radius: 25px;
}
.footer .footer_main .tag .search_bar input{
  width: 200px;
  padding: 2px 0;
  position: relative;
  top: 17%;
  left: 6%;
  border: none;
  outline: none;
  font-size: 13px;
  background: none;
}
.footer .footer_main .tag .search_bar button{
  padding: 7px 15px;
  background-color: #0065c3;
  border: none;
  margin-top: 15px;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
}
footer .end{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: #000;
}
footer .end span{
  color: #0065c3;
  margin-left: 10px;
}